.btn-demo{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 43px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: aquamarine;
    position: absolute;
    cursor: pointer;
  }
  .btn-demo:hover{
    background-color: #ffeb3b;
  }
  #btn-up {
    left: 55px;
    top: 5px;
  }
  #btn-down {
    left: 55px;
    top: 55px;
  }
  #btn-right {
    left: 105px;
    top: 55px;
  }
  #btn-left {
    left: 5px;
    top: 55px;
  }